a{
  color:black;
}
.header{
  padding-bottom: 0.7vw;
  border-bottom: 0.07vw solid var(--gradient-linear-stroke-bottom, rgba(12, 104, 244, 0.30));
  background: var(--White, #FFF);
  display: flex;
  margin-inline: 7.64vw;
  margin-top: 1.25vw;
font-size: 1.25vw;
font-weight: 400;
width: calc( 100% - 14.68vw );
}
.routes{
  margin-left:16.11vw ;
  margin-right:17.36vw ;

}
.routes ul{
  display: flex;
  margin: 0;
  padding: 0;
 margin-top: 1.3vw;
gap:3.33vw;
}
.routes a{
  padding-inline:0.55vw ;
}
  a{
    text-decoration: none;
  }

  .logo{
   width: 3.889vw;
   height: 4.375vw;

  }

  .headerButtons img {
    width: 1.67vw;
    height: 1.67vw;
    
  }
  
  /* .blurryBackground {
    overflow: hidden;
  } */
  .headerButton:hover {
 
    filter: brightness(0) saturate(100%) invert(8%) sepia(99%) saturate(6370%) hue-rotate(244deg) brightness(114%) contrast(138%);
  }
  /* .headerButton {
  transition: filter 0.4s ease;
  } */
  .headerButtons{
    display: flex;
    align-items: center;
    gap:1.67vw;
  }

  .navlink{
    color: var(--Black, #0C0C0C);
    text-align: center;
    /* Web/Body-lg */
    font-family: 'Inter';
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-wrap: nowrap ;
  }
  

  @media only screen and (max-width: 768px) {
    .header {
      margin-inline: 6.67vw;
      padding-bottom: 0.5vw;
      font-size: 1vw;
    }
  
    .routes {
      margin: 0 auto;
      width: 30vw;
    }
  
    .routes ul {
      margin-top: 1.3vw;
      gap: 1.67vw;
    }
  
    .routes a {
      padding-inline: 0.55vw;
    }
  
    .logo {
      width: 4.44vw;
      height: auto;
    }
  
    .headerButtons img {
      width: 2.67vw;
      height: 2.67vw;
    }
  
    .navlink {
      font-size: 2.4vw;
    }
  }
  