@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

footer {
  background: var(--primary-primary-900, #021736);
  color: white;
}

img {
  user-select: none;
  pointer-events: none;
}

.main {
  margin-inline: 7.46vw;
  padding-top: 3.33vw;
  height: 17vw;
}

.upperInfo {
  display: flex;
}
.upper{
  display: flex;

}




.contacts {
  display: flex;
}

.contacts img{
width: 1.39vw;
height: 1.39vw;
}


.footerTitle{
  font-size:  1.11vw !important;

}

.footerSections p {
  color: var(--Neutral-Gray-CBCBCB, #CBCBCB);

  font-family: 'Inter';
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-align: left;
  margin-bottom: 0.625vw;
  text-wrap: nowrap;
}

.footerSections img {
  margin-bottom: 0.625vw;
  margin-right: 0.3vw;
}

.footerTitle {
  color: var(--White, #FFF) !important;
  font-weight: 500 !important;
  line-height: normal !important;
}



.news_and_update_inputBox {
  box-sizing: border-box;
  display: flex;
  width: 20vw;
  height: 3.33vw;
  padding: 0.83vw;

  align-items: center;

  flex-shrink: 0;
  border-radius: 0.56vw;
  border: 0.07vw solid var(--Neutral-Gray-F9F9F9, #F9F9F9);
}

.news_and_update_text {
  text-align: left;
  color: var(--White, #FFF);

  font-family: 'Inter';
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.11vw;

}

.news_and_update_input {
  margin-left: 0.55vw;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  width: 18vw;
}

.news_and_update_input::placeholder {
  color: var(--Neutral-Gray-F9F9F9, #F9F9F9);
  opacity: 0.3;

  font-family: 'Inter';
  font-size: 1.11vw;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.righticon {

  margin-left: 3.42vw;
}

.righticon:hover {


  filter: invert(17%) sepia(59%) saturate(4469%) hue-rotate(335deg) brightness(91%) contrast(116%);
}

.news_and_update_inputimg{
  width: 1.67vw;
  height: auto;
}

.companyMedias {
  margin-left: 0.07vw;
  margin-top: 1.11vw;
  display: flex;
  align-items: center;
  gap: 1.11vw;
  /* justify-content: center; */
}

.companyMedias img {
  width: 2.22vw;
  height: 2.22vw;
}

.gotoTopIconBox {
  display: flex;
  margin-top: 1vw;
  justify-content: right;
}

.gotoTopIcon {
  display: flex;
  width: 2.78vw;
  height: 2.78vw;
  padding: 0.28vw;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.33vw;
  background: var(--Primary-Primary-50, #AECDFB);
}

.gotoTopIcon:hover {
  opacity: 0.7;
}

.paymentService {
  display: flex;
  gap: 0.56vw;

}

.paymentService img {
  width: 2.22vw;
  height: 1.67vw;
}


.bottom {
  display: flex;
  width: calc(100% - 15.28vw);
  height: 1.0428vw;
  -webkit-box-shadow: 0px 0.7vw 3.54vw 0px rgba(46, 126, 255, 0.9);
  -moz-box-shadow: 0px 0.7vw 3.54vw 0px rgba(46, 126, 255, 0.9);
  box-shadow: 0px -1.43vw 3.47vw 0.56vw #042960;
  padding-block: 1.42361vw;
  padding-inline: 7.64vw;
  color: var(--Neutral-Gray-CBCBCB, #CBCBCB);

  font-family: 'Inter';
  font-size: 0.83vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


@media only screen and (max-width: 768px) {
  .upper {
    display: flex;
    flex-direction: column-reverse;
  }
  .upperInfo{
    margin-top: 3vw;
    flex-direction: column;
    gap:4vw;
  }
  .main {
    margin-inline: 7.46vw;
    padding-top: 3.33vw;
    height: fit-content;
  }

  .news_and_update_text {
    align-self: stretch;
    text-align: center; 
    
    font-size: 4.44vw;
    line-height: 150%;
    font-weight: 500;
    margin-bottom: 1.11vw;
  
  }

  .news_and_update_inputBox {
 
 
    width: 82.2vw;
    height: 11.1vw;
    padding: 2vw;
  
    align-items: center;
  
    flex-shrink: 0;
    border-radius: 2.22vw;
    border: 0.07vw solid var(--Neutral-Gray-F9F9F9, #F9F9F9);
  }
  .news_and_update_inputimg{
    width: 5.55vw;
    height: auto;
  }
  
.news_and_update_input {
  margin-left: 0.55vw;

  width: 60vw;
  height: 5vw;
  margin-top: 2vw;
}

.news_and_update_input::placeholder {
  
  opacity: 0.5;


  font-size: 3.89vw;

  font-weight: 300;
  
}
.contacts {
gap: 1vw;
}
.righticon {

  margin-top: 1vw;
}
.footerSections{
  width: fit-content;
  height: fit-content;
}
.footerSections p {


  font-size: 3.33vw;

  font-weight: 500;
  line-height: 150%;

  margin-bottom: 0.625vw;
  text-wrap: nowrap;
}
.footerTitle{
  font-size: 4.44vw !important;
}
.companyMedias {
  margin-left: 0.07vw;
  margin-top: 2.9vw;

  gap: 2.22vw;
  /* justify-content: center; */
}
.companyMedias img {
  width: 6.66vw;
  height: 6.66vw;
}

.footerSections img {
  margin-bottom: 0.625vw;
  margin-right: 0.3vw;
  width: 4vw;
    height: auto;
}


.paymentService {
  display: flex;
  gap: 1.11vw;

}

.paymentService img {
  width: 8.89vw;
  height: 6.67vw;
}

.gotoTopIcon {
  
  width: 11.11vw;
  height: 11.11vw;
 
  
  border-radius: 13.33vw;

}
}