.main{
    margin-inline:7.64vw;
  
}
.newh4{
    margin-left: 0;
}
.brands{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 align-items: center;
 margin-bottom: 3.33vw;
}

@media only screen and (max-width: 768px) {
    .newh4{
        font-size: 4.44vw;
        line-height: 150%;
    }
  }

