.main{
    min-height:50vw ;
    height: fit-content;
    width: 63.33vw;
    border: 0.06vw solid rgba(0, 0, 0, 0.18);
    display: flex;
    /* justify-content: space-between; */
    gap:1.66vw;
    flex-wrap: wrap;
    /* box-shadow: 0.14vw 0.07vw 1.4vw #000000; */
}

.product{
    width: 20vw;
    height: 24.1vw;
  

padding: 1.11vw;
box-sizing: border-box;
}
.product:hover{
    box-shadow: 0px 0px 1.04vw 0px #428AF6;
 
}
.product img{
    width: 17.9vw;
    height: auto;
    max-height: 14vw;
}

.product p{
    margin-top: 1.5vw;
    height: auto;
}