@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.main{
    margin-top: 3.33vw;
    margin-inline: 7.64vw;

}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.categories ul li{
    padding-block: 0.55vw;
    padding-inline: 1.25vw;
    box-shadow: -0.14vw 0.14vw 1.04vw -0.07vw rgba(113, 113, 113, 0.12);
    border-radius: 0.55vw;
}
.categories ul li .simg {
    width:10.2vw;
    height: 10.2vw;
}

.categories ul li p{
    margin: 0;
margin-top: 0.55vw;
    text-align: center;
    color: var(--Neutral-Gray-2D2D2D, #2D2D2D);
text-align: center;

font-family: 'Inter';
font-size: 1.11vw;
font-style: normal;
font-weight: 300;
line-height: 150%;

}


@media only screen and (max-width: 768px) {
 
    .categories ul li .simg {
        width:18.3vw;
        height: 18.3vw;
    }
    .main{
        margin-top: 6.67vw;
        margin-inline: 6.67vw;
    
    }

    .categories ul{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        flex-wrap: wrap;
        gap:4vw;
        padding-inline-start: 0;
    }

    .categories ul li{
        padding: 2vw;
        padding-inline: 1.25vw;
        box-shadow: -0.55vw 0.55vw 4vw -0.27vw rgba(113, 113, 113, 0.28);
        border-radius: 2.22vw;
    }

    .categories ul li p{
        margin: 0;
    margin-top: 0.5vw;
        text-align: center;
        color: var(--Neutral-Gray-2D2D2D, #2D2D2D);
    text-align: center;
    
    font-family: 'Inter';
    
    font-style: normal;
   font-weight: 400;
    line-height: 150%;
    




font-size: 3.33vw;

    }
  
}