.main{
    margin-inline: 7.64vw;
    padding: 2vw;
}
.main input{
display: block;
    padding: 1vw;
    width: 80%;
    margin: 0 auto;
    border-color: cyan;
   background-color: white;

}
.main input:focus{
    outline: none;
}

.responses{
    width: 82.6%;
    margin: 0 auto;
   /* padding-inline: 1vw; */
background-color: white;
   border: 1px solid black;

}
.response{
    display: flex;
    gap:0.7vw;
    width: calc( 100% - 2vw);
    height: 3vw;
    /* margin-top: 0.5vw; */
    align-items: center;
    padding: 1vw;
}
.response:hover{
    background-color: rgb(128, 128, 128,0.3);
    transition: background-color 0.5s ease  ;
}

.response img{
    width: 3vw;
    height: 3vw;
}


.main {
    position: fixed;
   
    left: 43%;
    transform: translateX(-50%);
    z-index: 1000; /* Adjust the z-index to make sure it's above other content */
    /* background-color: white; Optional: Set a background color */
    width: 80vw; /* Adjust the width as needed */

  }