.main{
    min-height:50vw ;
    height: fit-content;
    width: 16.11vw;
    border: 0.06vw solid rgba(0, 0, 0, 0.18);
     padding: 1vw;

}
.main p{

  
}

.applyfilterbutton{
  display: block;
    color: cyan;
    text-align: right;
    font-weight: 400;
    /* text-decoration: underline; */
    font-size: 1vw;
    transition: color 0.3s ease-in-out;
    margin-bottom: 1vw;

}

.applyfilterbutton:hover{
  color:rgb(59, 71, 163);

}
.filtername{
  /* text-align: left; */
  margin-block: 0.5vw;
  /* margin-left: 0.5vw; */
}

.priceinputBox p{
  /* text-align: left;   */
  /* margin-left: 0.5vw; */
  margin-block: 0.5vw;

}
.priceinput{
  display: flex;
  justify-content: space-around ;
}
/* .filters{
  margin-block: 0.5vw;
} */
.priceinput input{
  width: 5.4vw;
  height: 2.5vw;
}

.reseter{
  margin-top: 1vw;
  text-align: right;
  color: cyan;
  margin-right: 1vw;
  
float: right;
}

.reseter:hover{
  transition: color 0.3s ease-in-out;


  color:rgb(59, 71, 163);

}